body {
    font-family: 'inter';
    font-weight: 400;
    font-size: 1.5rem;
    color: #E7A222;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
    object-fit: cover;
    opacity: 0.5;
}

h1 {
    font-family: 'Tagesschrift';
    font-weight: 400;
    font-size: 4rem;
    color: aliceblue;
}

h2 {
    font-family: 'Tagesschrift';
    font-weight: 600;
    color: aliceblue;
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}

.page-wrapper {
    color: inherit;
    overflow: hidden;
}

.nav_component {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 6;
    color: inherit;
    background-color: transparent;
}

.nav_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 85.75rem;
    color: inherit;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1.5rem;
    color: inherit;
}

.nav_menu_link {
    color: inherit;
    text-decoration: none;
    transition: all 200ms;
}

button {
    padding: 0.75rem 1.5rem;
    background-color: #E7A222;
    font-size: inherit;
    color: rgb(0, 0, 0);
    border-radius: 1.2rem;
}

.container-large {
    width: 100%;
    max-width: 80rem;
    margin: auto;
}

.padding-section-medium {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.home_header_component {
    text-align: center;
    margin-top: 10rem;
}

.home_header_span {
    color: #E7A222;
    margin-bottom: -1.5rem;
    font-size: 8rem;
}

.section_home_header {
    height: 100vh;
}

.text-color-gold {
    color: #E7A222;
}

.home_theme_component {
    text-align: center;
}


.home_about_component {
    text-align: center;
}

.section_home_theme {
    height: auto;
}

.section_home_about {
    height: auto;
}

.section_home_team {
    text-align: center;
    height: auto;
}

.home_team_people_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
    gap: 50px; /* Optional: adds spacing between grid items */
}

.home_team_people {
    text-align: left;
}

.home_team_people_cards.student {
    column-gap: 50px;
    row-gap: 10px;
}

.footer_component {
    text-align: center;
}

.footer_links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer_link {
    color: white;
}

.footer_address {
    font-size: 1.5rem;
}

.footer_address_link {
    color: #ffd68b;
    text-decoration: none;
}

.footer_map {
    margin-top: 1rem;
}

.home_events_component {
    text-align: center;
}

.home_events_info {
    text-align: left;
    color: white;
    margin-bottom: 5rem;
}

.home_events_info_cards {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.home_events_info_card {
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.home_events_info_card_img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.section_home_events {
    text-align: left;
}

.text-color-light-gold {
    color: #ffd68b;
}

.home_events_info_helper {
    width: 278px;
    background-color: rgba(87, 87, 87, 0.545);
    padding-bottom: 0.4rem;
    border-radius: 1rem;
}

#demo {
    font-size: 5rem;
    font-family: 'Tagessscrift';
    font-weight: 900;
}